.jumbotron{
    background-image:url("https://r-cf.bstatic.com/images/hotel/max1024x768/222/222636340.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.brochure-download{
    text-align:center;
    
}
div#map {min-height: 360px;}

.html,body {

}

.room-features{
    column-count: 2;
    list-style-type: none;
    padding-bottom:10px;
}
.company-name{
    padding-top:20px;
    padding-left:20px;
    text-align:center;
}

/*------------------------------------------------------------------ Hotels*/
.hotel{
    padding-bottom:20px;
    padding-right:20px;
    padding-left:20px;
}

.hotel-summary{
    padding-top:20px;
    padding-bottom:20px;
    font-family: 'Roboto Slab', serif;
}

.hotel-name{
    padding-top:35px
}

.features{
    padding-bottom:15px
}

.room-price{
padding-top:10px;
text-decoration: bold;
font-family: 'Roboto Slab', serif;
}

.fa-star{
    padding-top:10px;
}


.location-summary{
    padding-left:10px;
    padding-right:10px;
    padding-top:30px;
    padding-bottom:15px;
    font-family: 'Roboto Slab', serif;
}

.location-info{
    padding-top:20px;
    padding-left:30px;
}


/*------------------------------------------------------------------ Carousel*/
.carousel-item{
   padding-left:20px;
   padding-right:20px;
}

.carousel{
    width:600px;
    padding-top:70px;
}

/*------------------------------------------------------------------ Carousel*/
.social-links
{
   font-size:40px;
   padding-left:30px;
}

.list-inline-item{
    padding-left:50px;
}


.galleryimg{
    padding left:20px;
    padding-bottom:40px;
    height:300px;
    width:450px;
    }

.checked {
  color: gold;
}